body{
	background-image:url("a.jpg");
	background-repeat: no-repeat;
	background-size:1537px 860px;
	background-position:0% 0%;
}
h1 {
    text-align: center;
}

div {
    margin-top: 50px;
}

.menu {
    background-color: cadetblue;
    display: flex;
    justify-content: flex-end;
}

.menu a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.menu a:hover {
    background-color: gray;
}

.home {
    margin-top: 100px;
    margin-bottom: 50px;
    ;
    background-color: bisque
}

.home h1 {
    font-family: cursive;
}

.home p {
    text-align: center;
    color: cadetblue;
}

.home img {
    border: 5px solid;
    height: 300px;
    width: 280px;
    margin-left: 150px;
}

.home {
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.home::after {
    clear: both;
    display: table;
    content: '';
}